In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("E:\Besant Tech\classes\Data Science\dataset\heart.csv")
data.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1   37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2   41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3   56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4   57    0   0       120   354    0        1      163      1      0.6      2   0     2       1

In [3]:
data.describe()

              age         sex          cp    trestbps  ...       slope          ca        thal      target
count  303.000000  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  131.623762  ...    1.399340    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052   17.538143  ...    0.616226    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000   94.000000  ...    0.000000    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  120.000000  ...    1.000000    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  ...    1.000000    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  140.000000  ...    2.000000    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  200.000000  ...    2.000000    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [4]:
data.target.value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [5]:
data.groupby('target').mean()

              age       sex        cp    trestbps        chol  ...     exang   oldpeak     slope        ca      thal
target                                                         ...
0       56.601449  0.826087  0.478261  134.398551  251.086957  ...  0.550725  1.585507  1.166667  1.166667  2.543478
1       52.496970  0.563636  1.375758  129.303030  242.230303  ...  0.139394  0.583030  1.593939  0.363636  2.121212

[2 rows x 13 columns]

In [6]:
X = data.drop('target',axis=1)
Y = data.target

**Train test Split**

In [10]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [11]:
print(X.shape,X_train.shape,X_test.shape)

(303, 13) (242, 13) (61, 13)

## comparing the models

In [22]:
#list of models 
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [23]:
def compare_models_acc():

    for model in models:
        model.fit(X_train,Y_train)
        test_pred = model.predict(X_test)
        accuracy = accuracy_score(Y_test,test_pred)

        print("Accuracy is:", model,"=", accuracy)

In [24]:
compare_models_acc()

Accuracy is: LogisticRegression(max_iter=1000) = 0.8032786885245902
Accuracy is: SVC(kernel='linear') = 0.819672131147541
Accuracy is: KNeighborsClassifier() = 0.6229508196721312
Accuracy is: RandomForestClassifier() = 0.8032786885245902

In [27]:
#warnng: TOTAL NO. OF ITERATIONS REACHED LIMIT ,
#=>since the data is not standardized, some of features are categorical hence have not standardied in this

## Cross validation -more reliable than train-test-split, bcz this evaluates the model on diff folds on dataset
- alternate to train_test-split

In [29]:
def compare_models_crossVal():

    for model in models:
        cv_score = cross_val_score(model,X,Y,cv=5)
        
        cv_score_avg = sum(cv_score)/len(cv_score)
        cv_score_avg = cv_score_avg *100
        cv_score_avg = round(cv_score_avg,2)

        print("Accuracy is:", model,"=", cv_score)
        print("Accuracy % of model is:",cv_score_avg)

In [30]:
compare_models_crossVal()

Accuracy is: LogisticRegression(max_iter=1000) = [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Accuracy % of model is: 82.83
Accuracy is: SVC(kernel='linear') = [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuracy % of model is: 82.83
Accuracy is: KNeighborsClassifier() = [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuracy % of model is: 64.39
Accuracy is: RandomForestClassifier() = [0.83606557 0.90163934 0.7704918  0.83333333 0.78333333]
Accuracy % of model is: 82.5